.subreddit_title {
  color: #ff4500;
}

.subreddit_element:hover {
  background-color: #ff4500;
  cursor: pointer;
}

.subreddit_element:hover *{
  color: white;
}

.subreddit_element_image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.loading{
  background-color: #ff4500;
}